/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bungee", serif;
}

/* GLOBAL VARIALES */
:root {
  --primary-color: #c61236;
  --secondary-color: #003284;
  --btn-hover-color: #9c2cff;
}

body {
  background-color: #151624;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.wrapper {
  width: 150px;
  display: flex;
  gap: 10px;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 30px;
  bottom: 25px;
  z-index: 50;
}

.btn {
  border: none;
  padding: 10px 0;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  background: #0000009e;
  border-radius: 6px;
  box-shadow: 0 0 0px 1px transparent;
  transition: box-shadow 0.2s ease-in;
  transition: tranform 0.2s ease-in;
  font-size: 16px;
  width: 140px;
}

.btn:hover {
  box-shadow: 0 0 0px 1px #fff;
}

.btn:active {
  transform: scale(1.05);
}

.result-wrap {
  padding: 10px 20px;
  position: absolute;
  top: 15%;
  transform: translate(-50%, -50%);
  left: 50%;
  text-align: center;
  transition: all 0.3s ease-in-out;
  z-index: 50;
  color: #fff;
  background-color: #00000012;
  border-radius: 6px;
  border: 1px solid #ffffff45;
}

.result-wrap p {
  font-size: 28px;
}

.hand-wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}
.left-hand-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* background-color: #dc143c; */
  background-color: #c61236;
  position: relative;
}

.left-hand-wrapper,
.right-hand-wrapper {
  margin-top: -130px;
}

.right-hand-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* background-color: #003893; */
  background-color: #003284;
}

img {
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

.lhand img {
  width: 400px;
}
.rimg {
  width: 400px;
}

.linfo {
  bottom: 60px;
  left: 100px;
  position: absolute;
}

.linfo p {
  font-size: 18px;
  color: #fff;
}

footer {
  position: absolute;
  color: #ffffff58;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}

footer p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  color: inherit;
  text-decoration: none;
  padding: 2px 4px;
  transition: all 0.3s ease-in-out;
}

.social:hover {
  text-decoration: underline;
}
