/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #151624;
  position: relative;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: 190px 1fr;
}

.menu-container {
  height: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 2rem 0.6rem;
  position: relative;
  justify-content: space-between;
  position: relative;
  border-right: 1px solid #353535;
}

/* Game Menu Collapse */
.menu-collapse-btn {
  top: 5%;
  right: -15%;
  position: absolute;
  background-color: #262626;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 99999;
}

.menu-collapse-btn i {
  color: #fff;
  font-size: 0.8rem;
}

.glow-box {
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(70px);
  z-index: 1;
}

.menu-top {
  position: relative;
  z-index: 99;
}

.game-name {
  text-align: center;
  margin-bottom: 1.2rem;
  line-height: 1.3;
  letter-spacing: 0.2px;
}

.game-special-name {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}

.game-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 4rem;
}

.game-options .game-btn {
  font-size: 1rem;
  padding: 8px 12px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 4px;
}

.selection-option {
  width: 150px;
  display: flex;
  gap: 10px;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 30px;
  bottom: 25px;
  z-index: 50;
}

.game-settings {
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
}

.game-settings-btn {
  width: 100%;
  font-size: 0.9em;
  background-color: #262626;
  border: none;
  padding: 10px 12px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #353535;
}

.gs-width-fixed {
  width: 80px;
  text-align: left;
}

.btn {
  border: none;
  padding: 10px 0;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  background: #000000c5;
  border-radius: 6px;
  box-shadow: 0 0 0px 1px transparent;
  transition: box-shadow 0.2s ease-in;
  transition: tranform 0.2s ease-in;
  font-size: 16px;
  width: 140px;
}

.btn:hover {
  box-shadow: 0 0 0px 1px #fff;
}

.btn:active {
  transform: scale(1.05);
}

.display_box {
  top: 15%;
  left: 50.4%;
  z-index: 50;
  padding: 10px 20px;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  width: 500px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.hand-wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  /* background: url("./Assets/bg.jpg") center center / cover no-repeat; */

  position: relative;
}

.left-hand-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.left-player-info {
  top: 20%;
  left: 30%;
  transform: translate(-50%, -50%);
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: 300;
  background-color: #fff;
  padding: 6px 10px;
  border-radius: 8px;
  justify-content: space-between;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.user-icon-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.user-icon-profile img {
  width: 52px;
  font-size: 0.8rem;
}

.game-user-info {
  display: flex;
  flex-flow: column;
}

.game-user-info .game-user-info-heading {
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
}

.game-user-info p {
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 60%;
}

.left-hand-wrapper,
.right-hand-wrapper {
  margin-top: 2rem;
}

.right-hand-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.right-player-info {
  left: 60%;
}

img {
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

.lhand img {
  width: 320px;
}
.rimg {
  width: 320px;
}

.linfo {
  bottom: 60px;
  left: 100px;
  position: absolute;
}

.linfo p {
  font-size: 14px;
  color: #fff;
  opacity: 80%;
}

footer {
  position: absolute;
  color: #ffffff58;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}

footer p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  color: inherit;
  text-decoration: none;
  padding: 2px 4px;
  transition: all 0.3s ease-in-out;
}

.social:hover {
  text-decoration: underline;
}

/* MODAL CSS */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

/* NEW GAME */
.modal-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  /* background-color: #000000b5; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.modal-wrapper {
  width: 350px;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  background-color: #000000;
  border: 1px solid #8e8e8e52;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.modal-game-rounds {
  margin-top: 0.8rem;
}

.modal-game-rounds h3 {
  font-weight: 400;
  text-transform: uppercase;
  opacity: 60%;
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.modal-wrapper-btns {
  display: flex;
  align-items: center;
}

.radio-group {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
}

.radio-group input {
  display: none;
}

.radio-group label {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #262626;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.25s ease;
}

/* Hover */
.radio-group label:hover {
  border-color: #4f8cff;
}

/* Checked */
.radio-group input:checked + label {
  background: #4f8cff;
  color: #ffffff;
  border-color: #4f8cff;
  box-shadow: 0 0 0 3px rgba(79, 140, 255, 0.25);
}

.modal-opponent h3 {
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-style: italic;
  opacity: 60%;
  margin-bottom: 0.8rem;
  position: relative;
}

.modal-opponent-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 0.6rem;
}

.oppo-box {
  padding: 10px 16px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #262626;
  border: 1px solid #8e8e8e52;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid transparent;
  box-shadow: 0 0 0 4px transparent;
  font-size: 0.8rem;
  width: 100%;
  justify-content: center;
}

.oppo-box:hover {
  background-color: #4f8cff;
  border: 1px solid #4f8cff;
  box-shadow: 0 0 0 4px rgba(79, 140, 255, 0.25);
}

.oppobox-active {
  background-color: #4f8cff;
  box-shadow: 0 0 0 4px rgba(79, 140, 255, 0.25);
}

.modal-start-game {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  justify-content: space-between;
}

.modal-start-game-btn {
  border: none;
  padding: 10px 30px;
  font-size: 0.8rem;
  border-radius: 6px;
  background-color: #262626;
  border: 1px solid #8e8e8e52;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
}

.msg-start {
  background-color: #4f8cff;
  border-color: #4f8cff;
}

.msg-start:hover {
  box-shadow: 0 0 0 4px rgba(79, 140, 255, 0.25);
}

/* GAME HISTORY */
.history-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 9999;
}

.hisotry-modal-wrapper {
  padding: 40px 60px;
  color: #fff;
}

.history-modal-head h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 500;
}

.history-logs {
  margin-top: 3rem;
  background-color: #262626;
  border: 1px solid #353535;
  border-radius: 10px;
}

.history-lists {
  padding: 10px 10px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.game-win-lose {
  display: flex;
  align-items: center;
  gap: 10px;
}

.game-result-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #b1b1b1;
}

.game-opponent {
  display: flex;
  flex-direction: column;
}

.game-final-Decison {
  font-size: 1rem;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1px;
  font-weight: 600;
}

.game-final-opponent-name {
  font-size: 0.9rem;
}

.default-home-modal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.default-home-icon img {
  width: 300px;
}

.default-home-message {
  color: #fff;
  text-align: center;
}

.default-primary {
  margin-top: 2rem;
  font-size: 3rem;
  font-style: italic;
  font-weight: 800;
  color: #fff;
}

.default-home-message p {
  font-size: 1rem;
  opacity: 60%;
  letter-spacing: 1px;
  margin-top: 1rem;
}

.score-board-wrapper {
  background-color: #fff;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  flex-direction: column;
  overflow: hidden;
}

.display-round-result {
  width: 100%;
  background-color: #f5f5f5;
  padding: 8px 20px;
}

.display-round-result p {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}

.display-round-player-result {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 8px 20px;
}

.score-btn {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d7d7d7;
}
